<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MENU PRINCIPAL</li>
        <li class="active treeview">
          <a href="/intranet/index">
            <i class="fa fa-dashboard"></i> <span>Início</span>
          </a>
        </li>

        <li class="treeview">
          <a href="/intranet/informativos">
            <i class="fa fa-file"></i> <span>Informativos</span>
          </a>
        </li>

        <li class="treeview">
          <a href="/intranet/agendas">
            <i class="fa fa-calendar"></i> <span>Agenda</span>
          </a>
        </li>

        <li class="treeview">
          <a href="/intranet/lista_emails">
            <i class="fa fa-inbox"></i> <span>Lista de E-mails</span>
          </a>
        </li>

        <li class="treeview">
          <a href="/intranet/lista_departamentos">
            <i class="fa fa-sitemap"></i> <span>Lista de Departamentos</span>
          </a>
        </li>

        <li>
          <a href="/intranet/projetos">
            <i class="fa fa-table"></i> <span>Lista Projetos</span>
          </a>
        </li>   

        <li class="treeview">
          <a href="/intranet/incidentes">
            <i class="fa fa-ambulance"></i> <span>Lista de Incidentes</span>
          </a>
        </li>

        <li class="header">ADMINISTRAÇÃO</li>
        
        <li>
          <a href="/users/sign_in">
            <i class="fa fa-lock"></i> <span>Entrar</span>
          </a>
        </li>

      </ul>  
    </section>
    <!-- /.sidebar -->
  </aside>