<div class="row">
	        
	<% if @siscom == true %>
	  <div class="col-md-3">
	    <div class="box box-success box-solid">
	      <div class="box-header with-border">
	        <h3 class="box-title">SISCOM</h3>

	        <div class="box-tools pull-right">
	          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
	        </div>
	        <!-- /.box-tools -->
	      </div>
	      <!-- /.box-header -->
	      <div class="box-body">
	        <span class="text text-success">OK</span>
	      </div>
	      <!-- /.box-body -->
	    </div>
	    <!-- /.box -->
	  </div>
	<% else %>
		<div class="col-md-3">
	    <div class="box box-danger box-solid">
	      <div class="box-header with-border">
	        <h3 class="box-title">SISCOM</h3>

	        <div class="box-tools pull-right">
	          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
	        </div>
	        <!-- /.box-tools -->
	      </div>
	      <!-- /.box-header -->
	      <div class="box-body">
	        <span class="text text-danger">FORA</span>
	      </div>
	      <!-- /.box-body -->
	    </div>
	    <!-- /.box -->
	  </div>
	<% end %>



	<% if @google == true %>
	  <div class="col-md-3">
	    <div class="box box-success box-solid">
	      <div class="box-header with-border">
	        <h3 class="box-title">GOOGLE</h3>

	        <div class="box-tools pull-right">
	          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
	        </div>
	        <!-- /.box-tools -->
	      </div>
	      <!-- /.box-header -->
	      <div class="box-body">
	        <span class="text text-success">OK</span>
	      </div>
	      <!-- /.box-body -->
	    </div>
	    <!-- /.box -->
	  </div>
	<% else %>
		<div class="col-md-3">
	    <div class="box box-danger box-solid">
	      <div class="box-header with-border">
	        <h3 class="box-title">GOOGLE</h3>

	        <div class="box-tools pull-right">
	          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
	        </div>
	        <!-- /.box-tools -->
	      </div>
	      <!-- /.box-header -->
	      <div class="box-body">
	        <span class="text text-danger">FORA</span>
	      </div>
	      <!-- /.box-body -->
	    </div>
	    <!-- /.box -->
	  </div>
	<% end %>



</div>