<% content_for :titulo do %>
  Chamados
<% end %>

<% content_for :sub_titulo do %>
  Cancelar Chamado
<% end %>

<% if @chamado.status == "ABERTO" or @chamado.status == "EM ATENDIMENTO" %>

	<%= render 'form_cancelar_chamado' %>

<% else %>
	<div class="alert alert-warning" role="alert">Este Chamado não pose ser cancelado neste momento.</div>
	<%= link_to 'Voltar', chamados_path, :class=>'btn btn-default' %>
<% end %>