<% content_for :titulo do %>
  Chamados
<% end %>

<% content_for :sub_titulo do %>
  Fechar Chamado
<% end %>

<% if @chamado.status == "CONCLUIDO" and @chamado.user == current_user %>

	<%= render 'form_fechar_chamado' %>

<% else %>
	<div class="alert alert-warning" role="alert">Este Chamado não pode ser fechado neste momento.</div>
	<%= link_to 'Voltar', chamados_path, :class=>'btn btn-default' %>
<% end %>