<% content_for :titulo do %>
  Chamados
<% end %>

<% content_for :sub_titulo do %>
  Novo Chamado
<% end %>

<% if current_user.pode_criar_chamado %>
	<%= render 'form' %>
<% else %>
	<div class="alert alert-warning" role="alert">Voce nao pode criar um novo chamado antes de CANCELAR ou FECHAR o chamado atual.</div>
	<%= link_to 'Voltar', chamados_path, :class=>'btn btn-default' %>
<% end %>