<% content_for :titulo do %>
  Estado Equipamento
<% end %>

<% content_for :sub_titulo do %>
  Detalhes do Estado do Equipamento
<% end %>

<p>
  <strong>Status:</strong>
  <%= @status_equipamento.status %>
</p>

<%= link_to link_icone('voltar'), status_equipamentos_path, :class=>'btn btn-default', :title=>"Voltar" %> 
<%= link_to link_icone('editar'), edit_status_equipamento_path(@status_equipamento), :class=>"btn btn-primary", :title=>"Editar" %> 
<%= link_to link_icone('nova'), new_status_equipamento_path, :class=> 'btn btn-success', :title=>"Novo Status Equipamento" %>